

  <form novalidate [formGroup]="mainForm" class="birth-form">
    <fieldset formGroupName="entry" class="entry-set">
      <legend>{{'add.catholic.birth.record' | translate}}</legend>
      
      <div class="gender-date-place">
          <fieldset formGroupName="church" class="church-set">
            <legend>{{'add.catholic.birth.church' | translate}}</legend> 
            <ng-select [items]= "churchsTitles"
                       [addTag]="true"
                       placeholder="{{'add.catholic.birth.church.title' | translate}}"
                       multiple=true
                       maxSelectedItems="1"
                       formControlName="title"></ng-select>
                       <br>
            <ng-select [items]= "churchsPrists"
                       [addTag]="true"
                       placeholder="{{'add.catholic.birth.church.prist.name' | translate}}"
                       multiple=true
                       maxSelectedItems="1"
                       formControlName="prist"></ng-select>
          </fieldset>

          <fieldset class="gender-set" id="gender">
              <legend>{{'add.catholic.birth.gender' | translate}}</legend>
              <input type="radio" name="gender" value="male"  formControlName="gender"> {{'add.catholic.birth.gender.male' | translate}}
              <br>
              <input type="radio" name="gender" value="female" formControlName="gender"> {{'add.catholic.birth.gender.female' | translate}}
          </fieldset>

            <fieldset formGroupName="birth" class="birth-set">
              <legend>{{'add.catholic.birth.day.birth' | translate}}</legend>
              <span>{{'add.catholic.birth.selected' | translate}} {{mainForm.value.entry.birth.date.formatted}}</span>
              <div class="dp-container">
                <my-date-picker name="date"
                                [options]="datePickerOptions"
                                [(ngModel)]="dayOfBirth"
                                formControlName="date"
                                locale="en">
                </my-date-picker>
              </div>
            </fieldset>

            <fieldset formGroupName="baptism" class="baptism-set">
              <legend>{{'add.catholic.birth.day.baptism' | translate}}</legend>
              <span>{{'add.catholic.birth.selected' | translate}} {{mainForm.value.entry.baptism.date.formatted}}</span>
              <div class="dp-container">
                <my-date-picker name="date"
                                [options]="datePickerOptions"
                                [(ngModel)]="dayOfBaptism"
                                formControlName="date"
                                locale="en">
                </my-date-picker>
              </div>  
            </fieldset>
      
            <fieldset formGroupName="place" class="place-set">
              <legend>{{'add.catholic.birth.place' | translate}}</legend>
              <ng-select [items]= "placesTypes"
                         [addTag]="true"
                         placeholder="{{'add.catholic.birth.place.type' | translate}}"
                         multiple=true
                         maxSelectedItems="1"
                         formControlName="type"></ng-select>
                         <br>
              <ng-select [items]= "placesNames"
                         [addTag]="true"
                         placeholder="{{'add.catholic.birth.place.name' | translate}}"
                         multiple=true
                         maxSelectedItems="1"
                         formControlName="name"></ng-select>
            </fieldset>
      </div>
      
      <div class="child-parents">
          <fieldset formGroupName="child" class="child-set">
              <legend>{{'add.catholic.birth.child' | translate}}</legend>
              <ng-select [items]="mainForm.value.entry.gender === 'female' ? femaleFirstNames : maleFirstNames"
                         [addTag]="true"
                         placeholder="{{'add.catholic.birth.name.first' | translate}}"
                         multiple="true"
                         maxSelectedItems="1"
                         formControlName="firstName"></ng-select>
              <ng-select [items]="mainForm.value.entry.gender === 'female' ? femaleFirstNames : maleFirstNames"
                         [addTag]="true"
                         placeholder="{{'add.catholic.birth.name.second' | translate}}"
                         multiple="true"
                         maxSelectedItems="1"
                         formControlName="secondName"></ng-select>
              <ng-select [items]="mainForm.value.entry.gender === 'female' ? femaleLastNames : maleLastNames"
                         [addTag]="true"
                         placeholder="{{'add.catholic.birth.name.last' | translate}}"
                         multiple="true"
                         maxSelectedItems="1"
                         formControlName="lastName"></ng-select>
              <input type="checkbox" formControlName="illegitimate"> {{'add.catholic.birth.child.illegitimate' | translate}} 
              <br>
              <input type="checkbox" formControlName="twins"> {{'add.catholic.birth.child.twin' | translate}}
            </fieldset>
      
            <fieldset formGroupName="daddy" class="daddy-set">
              <legend> {{'add.catholic.birth.father' | translate}} </legend>
              <ng-select [items]="maleFirstNames"
                         [addTag]="true"
                         placeholder="{{'add.catholic.birth.name.first' | translate}}"
                         multiple="true"
                         maxSelectedItems="1"
                         formControlName="firstName"></ng-select>
              <ng-select [items]="maleMiddleNames"
                         [addTag]="true"
                         placeholder="{{'add.catholic.birth.name.middle' | translate}}"
                         multiple="true"
                         maxSelectedItems="1"
                         formControlName="middleName"></ng-select>
              <ng-select [items]="maleLastNames"
                         [addTag]="true"
                         placeholder="{{'add.catholic.birth.name.last' | translate}}"
                         multiple="true"
                         maxSelectedItems="1"
                         formControlName="lastName"></ng-select>
              <ng-select [items]="classOfMale"
                         [addTag]="true"
                         placeholder="{{'add.catholic.birth.father.class' | translate}}"
                         multiple="true"
                         maxSelectedItems="1"
                         formControlName="class"></ng-select>
              <input type="text" class="ext-input" placeholder="{{'add.catholic.birth.father.ext' | translate}}" formControlName="ext">
            </fieldset>
      
            <fieldset formGroupName="mommy" class="mommy-set">
              <legend> {{'add.catholic.birth.mother' | translate}} </legend>
              <ng-select [items]="femaleFirstNames"
                         [addTag]="true"
                         placeholder="{{'add.catholic.birth.name.first' | translate}}"
                         multiple="true"
                         maxSelectedItems="1"
                         formControlName="firstName"></ng-select>
              <ng-select [items]="femaleMiddleNames"
                         [addTag]="true"
                         placeholder="{{'add.catholic.birth.name.middle' | translate}}"
                         multiple="true"
                         maxSelectedItems="1"
                         formControlName="middleName"></ng-select>
              <ng-select [items]="femaleLastNames"
                         [addTag]="true"
                         placeholder="{{'add.catholic.birth.name.last' | translate}}"
                         multiple="true"
                         maxSelectedItems="1"
                         formControlName="lastName"></ng-select>
              <ng-select [items]="classOfFemale"
                         [addTag]="true"
                         placeholder="{{'add.catholic.birth.mother.class' | translate}}"
                         multiple="true"
                         maxSelectedItems="1"
                         formControlName="class"></ng-select>  
              <input type="checkbox" formControlName="soldierWife"> {{'add.catholic.birth.mother.soldiers' | translate}}
              <br>
              <input type="checkbox" formControlName="widow"> {{'add.catholic.birth.mother.widow' | translate}}
              <br>
              <input type="checkbox" formControlName="maiden"> {{'add.catholic.birth.mother.maiden' | translate}}
            </fieldset>      
      </div>
      
      <div class="godparents">
          <fieldset formGroupName="godfather" class="godfather-set">
              <legend> {{'add.catholic.birth.godfather' | translate}} </legend>
              <ng-select [items]="maleFirstNames"
                          [addTag]="true"
                          placeholder="{{'add.catholic.birth.name.first' | translate}}"
                          multiple="true"
                          maxSelectedItems="1"
                          formControlName="firstName"></ng-select>
              <ng-select [items]="maleMiddleNames"
                          [addTag]="true"
                          placeholder="{{'add.catholic.birth.name.middle' | translate}}"
                          multiple="true"
                          maxSelectedItems="1"
                          formControlName="middleName"></ng-select>
              <ng-select [items]="maleLastNames"
                          [addTag]="true"
                          placeholder="{{'add.catholic.birth.name.last' | translate}}"
                          multiple="true"
                          maxSelectedItems="1"
                          formControlName="lastName"></ng-select>
              <ng-select [items]="classOfMale"
                          [addTag]="true"
                          placeholder="{{'add.catholic.birth.godfather.class' | translate}}"
                          multiple="true"
                          maxSelectedItems="1"
                          formControlName="class"></ng-select>
              <input type="text" class="ext-input" placeholder="{{'add.catholic.birth.godfather.ext' | translate}}" formControlName="ext">
            </fieldset>
      
            <fieldset formGroupName="godmother" class="godmother-set">
              <legend> {{'add.catholic.birth.godmother' | translate}} </legend>
              <ng-select [items]="femaleFirstNames"
                         [addTag]="true"
                         placeholder="{{'add.catholic.birth.name.first' | translate}}"
                         multiple="true"
                         maxSelectedItems="1"
                         formControlName="firstName"></ng-select>
              <ng-select [items]="femaleLastNames"
                         [addTag]="true"
                         placeholder="{{'add.catholic.birth.name.last' | translate}}"
                         multiple="true"
                         maxSelectedItems="1"
                         formControlName="lastName"></ng-select>
              <ng-select [items]="maleFirstNames"
                         [addTag]="true"
                         placeholder="{{'add.catholic.birth.name.husband' | translate}}"
                         multiple="true"
                         maxSelectedItems="1"
                         formControlName="husbandName"></ng-select>
              <ng-select [items]="classOfFemale"
                         [addTag]="true"
                         placeholder="{{'add.catholic.birth.godmother.class' | translate}}"
                         multiple="true"
                         maxSelectedItems="1"
                         formControlName="class"></ng-select>
            </fieldset>
      </div>
      
    </fieldset>

    <fieldset formGroupName="cache" class="cache-set">
      <p>Just text from here</p>
    </fieldset>
  </form>

<pre>{{mainForm.value | json}}</pre>